.container-fluid{
	background-color: orange;
}
.form-control.login{
	display: block;
	width: auto;
	float: left;
	margin:7px 0 0 10px;    
}
.form-control.login:first-child{
	float: left;
	margin-left: 0;
}
#search_results{
	display: none;
}
.search_list_element{
	width: 100%;
	font-size: 12px;
	border-bottom:0.5px solid #000;
	background-color: #fff;
	display: block;
	float: left;
	text-decoration:none;
	padding: 3px 5px;
}