.container-fluid{
	background-color: #DAA520;
}
.form-control.login{
	display: block;
	width: auto;
	float: left;
	margin:7px 0 0 10px;    
}
.form-control.login:first-child{
	float: left;
	margin-left: 0;
}
#search_results{
	position: absolute;
	top: 100%;
	width: 400px;
	max-height: 400px;
	overflow-y:scroll;
	display: none;
	z-index: 99;
}
.search_list_element{
	width: 100%;
	font-size: 12px;
	border-bottom:0.5px solid #000;
	background-color:orange;
	color:#fff;
	display: block;
	float: left;
	text-decoration:none;
	padding: 3px 5px;
}
#open_advance_search_button{
	margin:10px 0 0 10px;
	border-radius:10px;
}
#advance_search_div{
	position: relative;
	width: 300px;
	height: auto;
	background-color: orange;
	float:left;
	display: none;
	position: absolute;
	top:100%;
	padding:15px 15px;
	z-index: 99;
}
#advance_search_div div{
	width: 100%;
	margin-top:10px;
	font-size: 14px;
	color:#000;
}
#add_included_div{
	display: none;
}
#add_excluded_div{
	display: none;
}
.range_input{
	float: right;
	width: 60px;
	margin-left:20px;
	border-radius: 8px;
	text-indent: 5px;
}
#close_advance_search_button{
	background: transparent;
	position:absolute;
	top:0px;
	right: 3px;
	border:1px solid #fff;
	border-radius: 50%;
	color:#fff;
	font-size: 12px;
}
.btn-default{
	margin-top: 10px;
}
.form-control#login-email2 {

	margin-top: 10px;
	max-width: 150px;
}
.form-control#login-pass2 {

	margin-top: 10px;
	max-width: 150px;
}
.form-control#search_input {

	margin-top: 10px;
	max-width: 150px;
}
