<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cmpe451.eatalyze">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>


    <application
        android:name=".EatalyzeApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_logo_eatalyze"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SignupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.UserProfilePageActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.default_searchable"
                android:value="com.cmpe451.eatalyze.activities.SearchActivity" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".activities.FollowersListActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="android.app.default_searchable"
            android:value="com.cmpe451.eatalyze.activities.SearchActivity" />
        <meta-data
            android:name="android.app.searchable"
            android:resource="@xml/searchable" />

        <activity
            android:name=".activities.UserHomepageActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.default_searchable"
                android:value="com.cmpe451.eatalyze.activities.SearchActivity" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".activities.FollowingListActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="android.app.default_searchable"
            android:value="com.cmpe451.eatalyze.activities.SearchActivity" />
        <meta-data
            android:name="android.app.searchable"
            android:resource="@xml/searchable" />

        <activity
            android:name=".activities.EditPreferencesActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="android.app.default_searchable"
            android:value="com.cmpe451.eatalyze.activities.SearchActivity" />
        <meta-data
            android:name="android.app.searchable"
            android:resource="@xml/searchable" />

        <activity
            android:name=".activities.LogActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="android.app.default_searchable"
            android:value="com.cmpe451.eatalyze.activities.SearchActivity" />
        <meta-data
            android:name="android.app.searchable"
            android:resource="@xml/searchable" />

        <activity
            android:name=".activities.DietActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="android.app.default_searchable"
            android:value="com.cmpe451.eatalyze.activities.SearchActivity" />
        <meta-data
            android:name="android.app.searchable"
            android:resource="@xml/searchable" />

        <activity
            android:name=".activities.ViewMealActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <meta-data
            android:name="android.app.default_searchable"
            android:value="com.cmpe451.eatalyze.activities.SearchActivity" />
        <meta-data
            android:name="android.app.searchable"
            android:resource="@xml/searchable" />

        <activity
            android:name=".activities.FoodServerProfilePageActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="android.app.default_searchable"
            android:value="com.cmpe451.eatalyze.activities.SearchActivity" />
        <meta-data
            android:name="android.app.searchable"
            android:resource="@xml/searchable" />

        <activity
            android:name=".activities.AddMealActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="android.app.default_searchable"
            android:value="com.cmpe451.eatalyze.activities.SearchActivity" />
        <meta-data
            android:name="android.app.searchable"
            android:resource="@xml/searchable" />

        <activity
            android:name=".activities.NutritionInfoActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="android.app.default_searchable"
            android:value="com.cmpe451.eatalyze.activities.SearchActivity" />
        <meta-data
            android:name="android.app.searchable"
            android:resource="@xml/searchable" />

        <activity
            android:name=".activities.CheckEatActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="android.app.default_searchable"
            android:value="com.cmpe451.eatalyze.activities.SearchActivity" />
        <meta-data
            android:name="android.app.searchable"
            android:resource="@xml/searchable" />

        <activity
            android:name=".activities.FoodServerHomePage"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="android.app.default_searchable"
            android:value="com.cmpe451.eatalyze.activities.SearchActivity" />
        <meta-data
            android:name="android.app.searchable"
            android:resource="@xml/searchable" />

        <activity android:name=".activities.ViewMealCommentsActivity" />
        <activity android:name=".activities.SearchActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value="com.cmpe451.eatalyze.activities.SearchActivity" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity android:name=".activities.AdvancedSearchActivity"></activity>
        <activity android:name=".activities.TagMealActivity"></activity>
        <activity android:name=".activities.SettingsActivity"></activity>
    </application>

</manifest>